HOST=127.0.0.1
PORT=3000
DEBUG=True

SECRET_KEY=0xStargemSecretKey
ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=30

MAGIC_LINK_TIMEOUT_MINUTES=1

DATABASE_URL=postgresql+asyncpg://postgres:0xStargem@localhost:5432/stargem
DATABASE_POOL_SIZE=10
DATABASE_MAX_OVERFLOW=20